.nav {
  margin: 0px;
  width: 90vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
}
.nav-menu-item {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
}
.logo3 {
  width: 170px;
  height: 50px;
}
.divv1 {
  margin: 0px;
  width: 400px;
  height: 80px;
  display: none;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .divv1 {
    display: flex;
  }
}

.navlogo1 {
  width: 40px;
  height:40px;
}

.divv2 {
  margin: 0px;
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .divv2 {
    display: none;
    width: 200px;
  }
  .logo3 {
    width: 150px;
    height: 30;
  }
}
.btn1 {
  width: 100px;
  font-size: 17px;
  color: white;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(39, 119, 239);
  border: none;
}
